*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/buildSrc/build
.DS_Store
.kotlin
/build
/captures
.externalNativeBuild
.cxx
local.properties
