*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/buildSrc/build
.DS_Store
.kotlin
/build
/captures
.externalNativeBuild
.cxx
local.properties
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/BuildConfig.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewConfig$Companion.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewConfig$Details.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewConfig$Overview$$serializer.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewConfig$Overview$Companion.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewConfig$Overview.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewConfig.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewContentProviderFactory.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewDecomposeFeatureFactory.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewFeatureApi.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewOutput$NavigateToBack.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewOutput$NavigateToHome.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewOutput$NavigateToTaskEditor.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/ru/aleshin/features/overview/api/OverviewOutput.dex
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/features/overview/api/build/.transforms/43223e03c783542fa62b0c5bd40fac2f/results.bin
/features/overview/api/build/.transforms/14291689ddccaea62d18c2109ab07914/transformed/classes/classes_dex/classes.dex
/features/overview/api/build/.transforms/14291689ddccaea62d18c2109ab07914/results.bin
/features/overview/api/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/features/overview/api/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/features/overview/api/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
/features/overview/api/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/features/overview/api/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/features/overview/api/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/features/overview/api/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/features/overview/api/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/features/overview/api/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/features/overview/api/build/intermediates/incremental/mergeDebugAssets/merger.xml
/features/overview/api/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/features/overview/api/build/intermediates/incremental/mergeDebugShaders/merger.xml
/features/overview/api/build/intermediates/java_res/debug/processDebugJavaRes/out/META-INF/api_debug.kotlin_module
/features/overview/api/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/ru/aleshin/features/overview/api/BuildConfig.class
/features/overview/api/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/features/overview/api/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/features/overview/api/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/features/overview/api/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/features/overview/api/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/META-INF/api_debug.kotlin_module
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/BuildConfig.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewConfig$Companion.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewConfig$Details.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewConfig$Overview$$serializer.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewConfig$Overview$Companion.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewConfig$Overview.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewConfig.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewContentProviderFactory.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewDecomposeFeatureFactory.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewFeatureApi.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewOutput$NavigateToBack.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewOutput$NavigateToHome.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewOutput$NavigateToTaskEditor.class
/features/overview/api/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/ru/aleshin/features/overview/api/OverviewOutput.class
/features/overview/api/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/features/overview/api/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/features/overview/api/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
/features/overview/api/build/kotlin/compileDebugKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/features/overview/api/build/outputs/logs/manifest-merger-debug-report.txt
/features/overview/api/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/features/overview/api/build/tmp/kotlin-classes/debug/META-INF/api_debug.kotlin_module
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewConfig$Companion.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewConfig$Details.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewConfig$Overview$$serializer.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewConfig$Overview$Companion.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewConfig$Overview.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewConfig.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewContentProviderFactory.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewDecomposeFeatureFactory.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewFeatureApi.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewOutput$NavigateToBack.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewOutput$NavigateToHome.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewOutput$NavigateToTaskEditor.class
/features/overview/api/build/tmp/kotlin-classes/debug/ru/aleshin/features/overview/api/OverviewOutput.class
